body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
html,
body {
  font-family: 'Montserrat', sans-serif;
  background: #ffffff;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
.toTop {
  display: none;
  font-weight: 800;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 15px;
  background-size: 200% auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: #bd4f5070;
  transition: all 0.5s;
}
.toTop:hover {
  text-decoration: none;
  color: #BD4F50;
  background-position: right center;
}
div,
p,
input,
form,
button,
span,
a {
  box-sizing: border-box;
}
button,
button:active,
button:focus {
  outline: 0;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 140px;
  padding-right: 140px;
}
@media screen and (max-width: 1600px) {
  .container {
    padding-left: 140px;
    padding-right: 140px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    padding-left: 107px;
    padding-right: 107px;
  }
}
@media screen and (max-width: 900px) {
  .container {
    padding-left: 90px;
    padding-right: 90px;
  }
}
@media screen and (max-width: 500px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 320px) {
  .container {
    padding-left: 27px;
    padding-right: 27px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}
.between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
/* Top-Line Header */
.top {
  padding-top: 17px;
  padding-bottom: 18px;
  color: #666666;
  border-bottom: 2px solid #FDF5F5;
}
.top .top_line {
  font-size: 16px;
  justify-content: space-between;
}
.top .top_line a {
  color: #666666;
  text-decoration: none;
  transition: all 0.2s;
}
.top .top_line a:hover {
  color: #BD4F50;
}
.top .top_line ul {
  margin: 0;
}
.top .top_line ul li {
  display: inline;
}
.top .top_line .top_menu {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 8px;
  margin-right: 8px;
  width: calc(50% - 16px);
}
@media screen and (max-width: 1600px) {
  .top .top_line .top_menu {
    width: calc(50% - 16px);
  }
}
.top .top_line .top_menu li {
  margin-right: 65px;
}
.top .top_line .top_contacts {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 8px;
  margin-right: 8px;
  width: calc(50% - 16px);
  text-align: right;
}
@media screen and (max-width: 1600px) {
  .top .top_line .top_contacts {
    width: calc(50% - 16px);
  }
}
.top .top_line .top_contacts li {
  margin-left: 65px;
}
/* Logo, Search, Cart, Menu Header */
.middle {
  padding-top: 25px;
  padding-bottom: 20px;
  border-bottom: 2px solid #FDF5F5;
}
.middle .middle_line {
  justify-content: space-between;
  align-items: center;
}
.middle .middle_line .logo {
  height: 78px;
  width: 169px;
}
.middle .middle_line form {
  display: flex;
  padding-left: 15%;
}
.middle .middle_line form input {
  display: block;
  background: transparent;
  width: 27vw;
  height: 35px;
  border: 0;
  border-bottom: 1px solid #BD4F50;
}
.middle .middle_line form input::placeholder {
  color: #A7A7A7;
  font-size: 16px;
}
.middle .middle_line form button {
  margin-left: 15px;
  padding: 0;
  border: none;
  background: transparent;
  height: 32px;
  width: 32px;
  cursor: pointer;
  display: block;
}
.middle .middle_line ul {
  margin: 0;
  margin-left: 25px;
}
.middle .middle_line ul li {
  display: inline;
}
.middle .middle_line .my_cart a {
  color: #ffffff;
  text-decoration: none;
}
.middle .middle_line .my_cart .heart {
  height: 37px;
  width: 37px;
}
.middle .middle_line .my_cart .cart {
  height: 39px;
  width: 39px;
}
.middle .middle_line .my_cart .badge {
  position: relative;
  font-size: 16px;
  background: #BD4F50;
  padding: 4px 9px;
  border-radius: 50%;
  top: -22px;
  left: -17px;
}
.middle .middle_line .my_cabinet {
  color: #232323;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #232323;
  border-radius: 20px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
}
.middle .middle_line .my_cabinet:hover {
  color: #ffffff;
  border: 1px solid #BD4F50;
  background: #BD4F50;
}
.middle .middle_line .hamburger button {
  width: 52px;
  cursor: pointer;
  background: transparent;
  border: none;
}
.middle .middle_line .sidepanel {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: #000000eb;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  text-align: left;
  color: #ffffff;
}
.middle .middle_line .sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
  transition: all 0.3s;
}
.middle .middle_line .sidepanel a:hover {
  color: #f1f1f1;
}
.middle .middle_line .sidepanel .msp_menu {
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid #fff5f470;
  padding-top: 30px;
}
.middle .middle_line .sidepanel .the_menu {
  border-bottom: 1px solid #fff5f470;
  margin-left: 25px;
}
.middle .middle_line .sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.fs_row {
  flex-wrap: inherit;
}
/* SubMenu & MainSlider */
.mainslider {
  height: auto;
}
.mainslider .sub_menu {
  padding-top: 20px;
}
.mainslider .sub_menu .categories {
  position: relative;
  padding-top: 10px;
  z-index: 100;
}
.mainslider .sub_menu .categories:before {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 3px solid #BD4F50;
  content: "";
  width: 98px;
}
.mainslider .sub_menu ul {
  margin: 0;
}
.mainslider .sub_menu ul li {
  display: inline;
}
.mainslider .sub_menu a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #232323;
  margin-right: 25px;
  transition: all 0.2s;
}
.mainslider .sub_menu a:hover {
  color: #BD4F50;
}
.mainslider .mySlider_fullscreen {
  max-width: 1920px;
  width: 100%;
  padding-right: 0;
  padding-bottom: 20px;
}
.mainslider .mySlider_fullscreen .main_info {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 8px;
  margin-right: 8px;
  width: calc(43.75% - 16px);
  width: 610px;
  padding-top: 120px;
}
@media screen and (max-width: 1600px) {
  .mainslider .mySlider_fullscreen .main_info {
    width: calc(43.75% - 16px);
  }
}
@media screen and (max-width: 1200px) {
  .mainslider .mySlider_fullscreen .main_info {
    width: calc(43.75% - 16px);
  }
}
@media screen and (max-width: 900px) {
  .mainslider .mySlider_fullscreen .main_info {
    width: calc(43.75% - 16px);
  }
}
.mainslider .mySlider_fullscreen .main_info h1 {
  color: #232323;
  font-size: 30px;
  font-weight: 500;
  white-space: pre-wrap;
}
.mainslider .mySlider_fullscreen .main_info h1 span {
  color: #BD4F50;
  font-size: 72px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}
.mainslider .mySlider_fullscreen .main_info h2 {
  font-size: 18px;
  margin-bottom: 155px;
}
.mainslider .mySlider_fullscreen .mainSliderDots {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 8px;
  margin-right: 8px;
  width: calc(12.5% - 16px);
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 130px;
  text-align: right;
}
@media screen and (max-width: 1600px) {
  .mainslider .mySlider_fullscreen .mainSliderDots {
    width: calc(12.5% - 16px);
  }
}
@media screen and (max-width: 1200px) {
  .mainslider .mySlider_fullscreen .mainSliderDots {
    width: calc(6.25% - 16px);
  }
}
@media screen and (max-width: 900px) {
  .mainslider .mySlider_fullscreen .mainSliderDots {
    width: calc(6.25% - 16px);
  }
}
@media screen and (max-width: 500px) {
  .mainslider .mySlider_fullscreen .mainSliderDots {
    width: calc(12.5% - 16px);
  }
}
.mainslider .mySlider_fullscreen .mainSliderDots .owl-dot {
  font-size: 24px;
  color: #262626;
  cursor: pointer;
}
.mainslider .mySlider_fullscreen .mainSliderDots .owl-dot.active {
  color: #BD4F50;
}
.mainslider .mySlider_fullscreen .mainSliderDots .owl-dot.active::after {
  content: "";
  display: inline-block;
  height: 0.35em;
  width: 35px;
  margin-left: 10px;
  border-top: 2px solid #BD4F50;
}
.mainslider .mySlider_fullscreen .main_slider {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 8px;
  margin-right: 8px;
  width: calc(43.75% - 16px);
  width: 50%;
  margin-top: -51px;
  margin-left: auto;
}
@media screen and (max-width: 1600px) {
  .mainslider .mySlider_fullscreen .main_slider {
    width: calc(43.75% - 16px);
  }
}
@media screen and (max-width: 1200px) {
  .mainslider .mySlider_fullscreen .main_slider {
    width: calc(50% - 16px);
  }
}
@media screen and (max-width: 900px) {
  .mainslider .mySlider_fullscreen .main_slider {
    width: calc(50% - 16px);
  }
}
.mainslider .mySlider_fullscreen .main_slider .item img {
  width: auto;
  z-index: 90;
}
.mainslider .goto {
  color: #ffffff;
  box-shadow: 0px 5px 20px #CCCCCC;
  font-size: 24px;
  background: #BD4F50;
  padding: 15px 30px;
  border: 1px solid #BD4F50;
  border-radius: 25px;
  text-decoration: none;
  transition: all 0.2s;
}
.mainslider .goto:hover {
  color: #232323;
  border: 1px solid #232323;
  background: transparent;
}
/* Breadcrumbs */
.breadcrumbs {
  margin-top: 35px;
  margin-bottom: 65px;
  padding-top: 40px;
  color: #A7A7A8;
  font-size: 16px;
  border-top: 1px solid #FDF5F5;
}
.breadcrumbs ul {
  margin: 0;
}
.breadcrumbs ul li {
  display: inline;
  margin-right: 25px;
}
.breadcrumbs a {
  color: #A7A7A7;
  text-decoration: none;
  transition: all 0.2s;
}
.breadcrumbs a:hover {
  color: #BD4F50;
}
.title_block {
  justify-content: space-between;
}
.title_block h2 {
  font-size: 30px;
  font-weight: 500;
  color: #232323;
  padding-bottom: 70px;
  padding-left: 10px;
  padding-top: 140px;
}
/* Recomendation */
.recomendation ul {
  margin: 0;
}
.recomendation ul li {
  display: inline;
}
.recomendation ul a {
  font-size: 14px;
  color: #CCCCCC;
  transition: all 0.2s;
}
.recomendation ul a:hover {
  color: #BD4F50;
}
.recomendation .owl-controls {
  font-size: 20px;
  padding-top: 140px;
  margin-right: 10px;
}
.recomendation .owl-controls .seeall {
  margin-right: 15px;
}
.recomendation .owl-controls .prevBtn,
.recomendation .owl-controls .nextBtn {
  color: #ffffff;
  cursor: pointer;
  transition: all 0.5s;
  background: #D0D0D0;
  height: 75px;
  width: 75px;
  padding: 5px 12px;
  border-radius: 100%;
}
.recomendation .owl-controls .prevBtn:hover,
.recomendation .owl-controls .nextBtn:hover {
  background: #BD4F50;
}
.recomendation .owl-item {
  padding: 5px;
}
.recomendation .item {
  padding: 5px;
  transition: all 0.2s;
  height: 525px;
  box-shadow: 0 0 0 1px #FDF5F5;
  border-radius: 5px;
  cursor: pointer;
}
.recomendation .item .labels {
  position: absolute;
  right: 0;
  margin-top: 25px;
  margin-right: 25px;
}
.recomendation .item .labels .new,
.recomendation .item .labels .sale,
.recomendation .item .labels .hit {
  text-align: center;
  padding: 5px 15px;
  color: #ffffff;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  width: 100px;
}
.recomendation .item .labels .new {
  background: #2AE101;
}
.recomendation .item .labels .sale {
  background: #FE3152;
}
.recomendation .item .labels .hit {
  background: #FEA800;
}
.recomendation .item .item_btns {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
  margin-top: -60px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s ease-in-out;
}
.recomendation .item .item_btns button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
  z-index: 1000;
  transition: all 0.2s;
}
.recomendation .item .item_btns button:hover {
  box-shadow: 0 0 0 2px #BD4F50;
}
.recomendation .item .item_btns .like {
  background: #D0D0D0;
}
.recomendation .item .item_btns .like img {
  height: 24px;
  width: 24px;
  padding: 15px 8px;
}
.recomendation .item .item_btns .add {
  background: #2AE101;
}
.recomendation .item .item_btns .add img {
  height: 24px;
  width: 24px;
  padding: 15px 8px;
}
.recomendation .item .item_desc {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 45px;
}
.recomendation .item .item_desc a {
  color: #666666;
  text-decoration: none;
}
.recomendation .item .price {
  position: absolute;
  bottom: 0;
  font-size: 22px;
  color: #232323;
  padding-bottom: 35px;
  padding-left: 20px;
}
.recomendation .item .price strike {
  color: #666666;
}
.recomendation .item .price .price_desc {
  color: #CCCCCC;
  font-size: 16px;
  margin-left: 35px;
}
.recomendation .item:hover {
  box-shadow: 0 0 0 1px #BD4F50;
  border-radius: 5px;
}
.recomendation .item:hover .item_btns {
  visibility: visible;
  opacity: 1;
}
/* Sale Slider */
.sale_slider {
  margin-top: 110px;
}
.sale_slider .ss_row {
  justify-content: flex-end;
}
.sale_slider .saleSliderDots {
  margin-top: 20px;
  text-align: right;
}
.sale_slider .saleSliderDots .owl-dot {
  font-size: 24px;
  color: #262626;
  cursor: pointer;
}
.sale_slider .saleSliderDots .owl-dot.active {
  color: #BD4F50;
}
.sale_slider .saleSliderDots .owl-dot.active::after {
  content: "";
  display: inline-block;
  height: 0.35em;
  width: 35px;
  margin-left: 10px;
  border-top: 2px solid #BD4F50;
}
.sale_slider .saleSliderDots ul {
  margin: 0;
}
.sale_slider .saleSliderDots ul li {
  display: inline;
  margin-left: 25px;
}
/* Tabs Slider */
.tabs_slider ul {
  margin: 0;
}
.tabs_slider ul li {
  display: inline;
}
.tabs_slider ul a {
  font-size: 14px;
  color: #CCCCCC;
}
.tabs_slider ul a:hover {
  color: #BD4F50;
  transition: all 0.2s;
}
.tabs_slider .tab-slider--nav {
  width: 100%;
  float: left;
  margin-bottom: -25px;
  margin-left: -25px;
}
.tabs_slider .tab-slider--tabs {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  background: #ffffff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tabs_slider .tab-slider--tabs:after {
  content: "";
  width: 33%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 250ms ease-in-out;
  border-radius: 35px;
}
.tabs_slider .tab-slider--tabs.slide:after {
  left: 33%;
}
.tabs_slider .tab-slider--trigger {
  width: 235px;
  margin-right: 25px;
  font-size: 24px;
  line-height: 1;
  color: #CCCCCC;
  border: 1px solid #CCCCCC;
  border-radius: 25px;
  text-align: center;
  padding: 13px 0;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  transition: color 250ms ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tabs_slider .tab-slider--trigger.active {
  color: #BD4F50;
  border: 1px solid #BD4F50;
  border-radius: 25px;
}
.tabs_slider .tab-slider--body {
  margin-bottom: 20px;
}
.tabs_slider .owl-controls {
  font-size: 20px;
  text-align: right;
  margin-bottom: 50px;
}
.tabs_slider .owl-controls .seeall {
  margin-right: 15px;
}
.tabs_slider .owl-controls .prevBtn,
.tabs_slider .owl-controls .nextBtn {
  color: #ffffff;
  cursor: pointer;
  transition: all 0.5s;
  background: #D0D0D0;
  height: 75px;
  width: 75px;
  padding: 5px 12px;
  border-radius: 100%;
}
.tabs_slider .owl-controls .prevBtn:hover,
.tabs_slider .owl-controls .nextBtn:hover {
  background: #BD4F50;
}
.tabs_slider .owl-item {
  padding: 5px;
}
.tabs_slider .item {
  padding: 5px;
  transition: all 0.2s;
  height: 525px;
  box-shadow: 0 0 0 1px #FDF5F5;
  border-radius: 5px;
  cursor: pointer;
}
.tabs_slider .item .labels {
  width: 100px;
  position: absolute;
  right: 0;
  margin-top: 25px;
  margin-right: 25px;
}
.tabs_slider .item .labels .new,
.tabs_slider .item .labels .sale,
.tabs_slider .item .labels .hit {
  text-align: center;
  padding: 5px 15px;
  color: #ffffff;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
}
.tabs_slider .item .labels .new {
  background: #2AE101;
}
.tabs_slider .item .labels .sale {
  background: #FE3152;
}
.tabs_slider .item .labels .hit {
  background: #FEA800;
}
.tabs_slider .item .item_btns {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
  margin-top: -60px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s ease-in-out;
}
.tabs_slider .item .item_btns button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
  z-index: 1000;
  transition: all 0.2s;
}
.tabs_slider .item .item_btns button:hover {
  box-shadow: 0 0 0 2px #BD4F50;
}
.tabs_slider .item .item_btns .like {
  background: #D0D0D0;
}
.tabs_slider .item .item_btns .like img {
  height: 24px;
  width: 24px;
  padding: 15px 8px;
}
.tabs_slider .item .item_btns .add {
  background: #2AE101;
}
.tabs_slider .item .item_btns .add img {
  height: 24px;
  width: 24px;
  padding: 15px 8px;
}
.tabs_slider .item .item_desc {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 45px;
}
.tabs_slider .item .item_desc a {
  color: #666666;
  text-decoration: none;
}
.tabs_slider .item .price {
  position: absolute;
  bottom: 0;
  font-size: 22px;
  color: #232323;
  padding-bottom: 35px;
  padding-left: 20px;
}
.tabs_slider .item .price strike {
  color: #666666;
}
.tabs_slider .item .price .price_desc {
  color: #CCCCCC;
  font-size: 16px;
  margin-left: 35px;
}
.tabs_slider .item:hover {
  box-shadow: 0 0 0 1px #BD4F50;
  border-radius: 5px;
}
.tabs_slider .item:hover .item_btns {
  visibility: visible;
  opacity: 1;
}
/* About Us */
.about_us .title_block h2 {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 8px;
  margin-right: 8px;
  width: calc(50% - 16px);
  padding-bottom: 20px;
}
@media screen and (max-width: 1600px) {
  .about_us .title_block h2 {
    width: calc(50% - 16px);
  }
}
.about_us .title_block a {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 8px;
  margin-right: 8px;
  width: calc(50% - 16px);
  text-align: right;
  padding-bottom: 40px;
  padding-right: 10px;
  padding-top: 155px;
  font-size: 14px;
  color: #CCCCCC;
}
@media screen and (max-width: 1600px) {
  .about_us .title_block a {
    width: calc(50% - 16px);
  }
}
.about_us .title_block a:hover {
  color: #BD4F50;
}
.about_us .aboutUs_fullscreen {
  max-width: 1920px;
  padding-left: 0;
  padding-right: 140px;
  width: 100%;
}
.about_us .aboutUs_fullscreen img {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 8px;
  margin-right: 8px;
  width: calc(50% - 16px);
  width: 55%;
  height: 100%;
}
@media screen and (max-width: 1600px) {
  .about_us .aboutUs_fullscreen img {
    width: calc(50% - 16px);
  }
}
.about_us .aboutUs_fullscreen .about_us_desc {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 8px;
  margin-right: 8px;
  width: calc(50% - 16px);
  padding-top: 40px;
  font-size: 19px;
  line-height: 30px;
}
@media screen and (max-width: 1600px) {
  .about_us .aboutUs_fullscreen .about_us_desc {
    width: calc(50% - 16px);
  }
}
.about_us .aboutUs_fullscreen .about_us_desc p {
  padding-bottom: 20px;
}
.about_us .about_us_more {
  font-size: 19px;
  line-height: 30px;
}
.about_us .about_us_more p {
  padding-bottom: 20px;
}
/* Our Partners */
.our_partners {
  text-align: center;
}
.our_partners .brands {
  justify-content: space-between;
  align-items: center;
}
.our_partners .brands .brand_name {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 8px;
  margin-right: 8px;
  width: calc(18.75% - 16px);
}
.our_partners .brands .brand_name img {
  width: 100%;
}
.our_partners #more {
  display: none;
}
.our_partners .more_btn {
  margin-top: 60px;
}
.our_partners .more_btn .fa-redo {
  margin-right: 15px;
  color: #BD4F50;
}
.our_partners .more_btn button {
  color: #BD4F50;
  font-size: 18px;
  background: transparent;
  border: none;
}
/* Catalogue */
.catalogue .categories {
  justify-content: center;
}
.catalogue .categories .cat_name {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 8px;
  margin-right: 8px;
  width: calc(18.75% - 16px);
  border: 1px solid #FDF5F5;
  padding: 10px 10px 30px 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  text-align: center;
  transition: all 0.2s;
}
.catalogue .categories .cat_name img {
  width: 100%;
  margin-bottom: 25px;
}
.catalogue .categories .cat_name a {
  font-size: 25px;
  font-weight: 500;
  color: #666666;
  transition: all 0.2s;
}
.catalogue .categories .cat_name:hover {
  border: 1px solid #BD4F50;
}
.catalogue .categories .cat_name:hover a {
  color: #BD4F50;
}
/* Category */
.category .filter {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 8px;
  margin-right: 8px;
  width: calc(25% - 16px);
  margin-left: 1px;
  margin-right: 1px;
}
.category .filter h3 {
  font-size: 18px;
  color: #232323;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 6px #0000002b;
}
.category .filter button {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-align: left;
  color: #232323;
  width: 100%;
  border: none;
  background: transparent;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  box-shadow: 0px 0px 6px #0000002b;
}
.category .filter .collapsible {
  outline: none;
}
.category .filter .collapsible:after {
  font-family: "Font Awesome 5 Free";
  content: "\f077";
  font-weight: 600;
  font-size: 13px;
  color: #707070;
  float: right;
  padding-top: 5px;
  padding-right: 5px;
}
.category .filter .collapsible.active:after {
  content: "\f078";
}
.category .filter .content {
  font-size: 16px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.category .filter .content ul li {
  margin-bottom: 10px;
}
.category .filter .content .checkbox input[type="checkbox"] {
  opacity: 0;
}
.category .filter .content .checkbox label {
  position: relative;
  display: inline-block;
  padding-left: 22px;
  padding-top: 2px;
}
.category .filter .content .checkbox label::before,
.category .filter .content .checkbox label::after {
  position: absolute;
  content: "";
  display: inline-block;
}
.category .filter .content .checkbox label::before {
  height: 16px;
  width: 16px;
  border: 1px solid #BD4F50;
  border-radius: 5px;
  left: 0px;
  top: 3px;
}
.category .filter .content .checkbox label::after {
  height: 5px;
  width: 9px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  left: 4px;
  top: 7px;
}
.category .filter .content .checkbox input[type="checkbox"] + label::after {
  content: none;
}
.category .filter .content .checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}
.category .filter .content a {
  color: #BD4F50;
  padding-left: 35px;
}
.category .items {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 8px;
  margin-right: 8px;
  width: calc(75% - 16px);
  margin-right: 1px;
  margin-left: 1px;
  padding-left: 10px;
  padding-right: 5px;
}
.category .items .select {
  justify-content: space-between;
  align-items: center;
}
.category .items .select h3 {
  color: #232323;
  font-size: 18px;
  padding-left: 15px;
}
.category .items .select .selectdiv {
  position: relative;
}
.category .items .select select::-ms-expand {
  display: none;
}
.category .items .select .selectdiv:after {
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  font-weight: 600;
  color: #333;
  right: 11px;
  top: 17px;
  padding: 0 0 2px;
  position: absolute;
  pointer-events: none;
}
.category .items .select .selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  max-width: 320px;
  height: 40px;
  margin: 5px 0px;
  padding: 0px 24px;
  color: #232323;
  background: transparent;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 6px #0000002b;
  -ms-word-break: normal;
  word-break: normal;
}
.category .items .cat_items .item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 8px;
  margin-right: 8px;
  width: calc(25% - 16px);
  display: flex;
  flex-direction: column;
  padding: 5px;
  transition: all 0.2s;
  height: 430px;
  box-shadow: 0 0 0 1px #FDF5F5;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}
.category .items .cat_items .item .item_btns {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
  margin-top: -60px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s ease-in-out;
}
.category .items .cat_items .item .item_btns button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
  z-index: 1000;
  transition: all 0.2s;
}
.category .items .cat_items .item .item_btns button:hover {
  box-shadow: 0 0 0 2px #BD4F50;
}
.category .items .cat_items .item .item_btns .like {
  background: #D0D0D0;
}
.category .items .cat_items .item .item_btns .like img {
  height: 24px;
  width: 24px;
  padding: 15px 8px;
}
.category .items .cat_items .item .item_btns .add {
  background: #2AE101;
}
.category .items .cat_items .item .item_btns .add img {
  height: 24px;
  width: 24px;
  padding: 15px 8px;
}
.category .items .cat_items .item .item_desc {
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 30px;
}
.category .items .cat_items .item .item_desc a {
  color: #666666;
  text-decoration: none;
}
.category .items .cat_items .item .price {
  margin-top: auto;
  font-size: 20px;
  color: #232323;
  padding-left: 5px;
}
.category .items .cat_items .item .price strike {
  color: #666666;
  font-size: 15px;
}
.category .items .cat_items .item .price .price_desc {
  color: #CCCCCC;
  font-size: 12px;
}
.category .items .cat_items .item:hover {
  box-shadow: 0 0 0 1px #BD4F50;
  border-radius: 5px;
}
.category .items .cat_items .item:hover .item_btns {
  visibility: visible;
  opacity: 1;
}
/* FAQ */
.faq {
  margin-top: 175px;
  margin-bottom: 50px;
  padding-top: 60px;
  background: #FDF5F5;
}
.faq .faq_fullscreen {
  max-width: 1920px;
  width: 100%;
  padding-left: 140px;
}
.faq .faq_form {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 8px;
  margin-right: 8px;
  width: calc(62.5% - 16px);
  padding-left: 60px;
}
@media screen and (max-width: 1600px) {
  .faq .faq_form {
    width: calc(62.5% - 16px);
  }
}
@media screen and (max-width: 1200px) {
  .faq .faq_form {
    width: calc(68.75% - 16px);
  }
}
.faq .faq_form h2 {
  font-size: 30px;
  font-weight: 500;
}
.faq .faq_form p {
  font-size: 16px;
  padding-top: 25px;
}
.faq .faq_form form {
  padding-top: 50px;
  font-size: 16px;
  color: #CCCCCC;
}
.faq .faq_form form .question,
.faq .faq_form form .email {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 8px;
  margin-right: 8px;
  width: calc(25% - 16px);
  padding: 20px;
  width: 30%;
  border: 1px solid #ffffff;
  border-radius: 25px;
  margin-right: 35px;
}
@media screen and (max-width: 900px) {
  .faq .faq_form form .question,
  .faq .faq_form form .email {
    width: calc(25% - 16px);
  }
}
@media screen and (max-width: 500px) {
  .faq .faq_form form .question,
  .faq .faq_form form .email {
    width: calc(100% - 16px);
  }
}
.faq .faq_form form .button {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 8px;
  margin-right: 8px;
  width: calc(25% - 16px);
  margin-left: 25px;
  font-size: 24px;
  color: #ffffff;
  background: #BD4F50;
  padding: 14px 40px;
  border: 1px solid #BD4F50;
  border-radius: 25px;
  box-shadow: 0px 5px 20px #CCCCCC;
  transition: all 0.2s;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .faq .faq_form form .button {
    width: calc(25% - 16px);
  }
}
@media screen and (max-width: 500px) {
  .faq .faq_form form .button {
    width: calc(100% - 16px);
  }
}
.faq .faq_form form .button:hover {
  background: #ffffff;
  color: #BD4F50;
}
.faq .man_img {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 8px;
  margin-right: 8px;
  width: calc(25% - 16px);
  margin-bottom: -5px;
}
@media screen and (max-width: 1600px) {
  .faq .man_img {
    width: calc(25% - 16px);
  }
}
@media screen and (max-width: 1200px) {
  .faq .man_img {
    width: calc(25% - 16px);
  }
}
.faq .man_img img {
  width: 380px;
  z-index: 200;
  position: relative;
  margin-top: -100px;
}
.faq .man_img span {
  height: 350px;
  width: 350px;
  background: white;
  position: absolute;
  left: 62%;
  border-radius: 50%;
  z-index: 100;
  margin-top: -30px;
}
.faq .rounds {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 8px;
  margin-right: 8px;
  width: calc(12.5% - 16px);
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
.faq .rounds .round_one {
  margin-top: -100px;
  height: 130px;
  width: 130px;
  margin-left: -30px;
}
.faq .rounds .round_two {
  margin-top: 50px;
  height: 70px;
  width: 70px;
}
/* Footer */
.footer {
  padding-bottom: 65px;
  padding-left: 60px;
  padding-right: 60px;
}
.footer .column {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 18px;
  color: #232323;
  line-height: 40px;
}
@media screen and (max-width: 900px) {
  .footer .column {
    width: calc(25% - 16px);
  }
}
@media screen and (max-width: 500px) {
  .footer .column {
    width: calc(50% - 16px);
  }
}
.footer .column .footer_logo {
  width: 177px;
}
.footer .column h3 {
  font-size: 24px;
  color: #BD4F50;
}
.footer .column form {
  display: flex;
  flex-direction: column;
}
.footer .column form .email {
  width: 297px;
  padding: 20px;
  border: none;
  border-radius: 25px;
  background: #FDF5F5;
  color: #CCCCCC;
  font-size: 16px;
  margin-bottom: 15px;
}
.footer .column form .subscribe {
  cursor: pointer;
  color: #666666;
  font-size: 12px;
  background: transparent;
  border: none;
  text-decoration: underline;
  transition: all 0.2s;
}
.footer .column form .subscribe:hover {
  color: #BD4F50;
}
.footer .column .works .socials {
  font-size: 14px;
  margin: 0;
}
.footer .column .works .socials li {
  display: inline;
  margin-right: 20px;
}
.footer .column .works .socials a {
  color: #666666;
  text-decoration: none;
  transition: all 0.2s;
}
.footer .column .works .socials a:hover {
  color: #BD4F50;
}
.footer .column .footer_menu a {
  color: #232323;
  text-decoration: none;
  transition: all 0.2s;
}
.footer .column .footer_menu a:hover {
  color: #BD4F50;
}
